@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    background-color: rgb(66, 32, 16);
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-top:60px;
    border-radius: 15px;
}
a{
    color: rgb(0, 0, 0);
    font-size: 1.5em
}
p{
    font-size: 1.2em;
    color: black;
}
h1{
    font-size: 4.9em;
    color: black;
}
h2{
    font-size: 1.6em;
    color: black;
}
.nav-item2{
    padding-bottom: 20px;
}
.img-fluid{
    padding-top: 50px;
}

.container h2{
    padding-bottom: 10px;
}
.nav-link2:hover{
color:rgb(230, 130, 48);
}
#Sobre {
    margin-top: 30px;
}