body{
    background-color: rgb(85, 55, 24);
}
.container{
    margin-top:60px;
    border-radius: 15px;
}
a{
    color: rgb(0, 0, 0);
    font-size: 1.5em
}
p{
    font-size: 1.4em;
}
h2{
    font-size: 1.9em;
}
.nav-item2{
    padding-bottom: 20px;
}
.img-fluid{
    padding-top: 50px;
}

.container h2{
    padding-bottom: 40px;
}
.nav-link2{
    font-family: "Sofia", sans-serif;
}
.nav-link2:hover{
color:aliceblue;
}